<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.mapper.ActivityMapper">
    <select id="list" parameterType="com.zs.vo.ListQuery" resultType="com.zs.model.Activity">
        select fid, fpic,fclass, ftitle, date_format(fbegin, '%Y-%m-%d') as fbegin, date_format(fend, '%Y-%m-%d')
        as
        fend, date_format(fctime, '%Y-%m-%d') as fctime
        from o_activity
        <where>
            <if test="ftype != null and ftype != ''">
                and ftype = #{ftype}
            </if>
            <if test="fclass != null and fclass != ''">
                and fclass = #{fclass}
            </if>
        </where>
        order by fctime desc limit ${start},${pageSize}
    </select>

    <select id="findById" parameterType="string" resultType="com.zs.model.Activity">
        select * from o_activity where fid=#{fid}
    </select>
</mapper>
