<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.mapper.NoticeMapper">
    <select id="list" resultType="com.zs.model.Notice">
        select
        fid,ftitle,ftext,date_format(fctime, '%Y-%m-%d') as fctime
        from o_notice
    </select>

    <select id="findById" parameterType="string" resultType="com.zs.model.Notice">
        select
        fid,ftitle,ftext,date_format(fctime, '%Y-%m-%d') as fctime
        from o_notice where fid=#{fid}
    </select>

</mapper>
